<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GateWay RealTime</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/brands/Azul RT Blanco.png') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- Choose your prefered color scheme -->
    <link href="{{ url_for('static', filename='css/light.css')}}" rel="stylesheet">
    <!-- <link href="css/dark.css" rel="stylesheet"> -->

</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-behavior: sticky (default), fixed, compact
-->

<body data-theme="light" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{{ url_for('dashboard') }}">
                    <img src="{{ url_for('static', filename='img/brands/Logo Completo RT Transparente.png') }}"
                        alt="logo" width="70px">

                    <!-- <span class="align-middle me-3">RealTime</span> -->
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Menú
                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#dashboards" data-bs-toggle="" class="sidebar-link"
                            href="{{ url_for('dashboard') }}">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Dashboard</span>
                        </a>

                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#monitoreo" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="activity"></i> <span
                                class="align-middle">Monitoreo</span>
                        </a>
                        <ul id="monitoreo" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Conectores Operadora</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Campañas Activas</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Cuentas Activas</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Solicitudes de Campañas</a></li>
                            <!-- <li class="sidebar-item"><a class="sidebar-link"
                                    href="{{ url_for('crear_empresa') }}">Empresas</a></li>
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="{{ url_for('realtime_usuarios') }}">Usuarios RealTime</a></li>
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="{{ url_for('crear_operadora') }}">Operadoras</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#estadisticas" data-bs-toggle="" class="sidebar-link" href="#">
                            <i class="align-middle" data-feather="trending-up"></i> <span
                                class="align-middle">Estadisticas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#reportes" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="pie-chart"></i> <span
                                class="align-middle">Reportes</span>
                        </a>
                        <ul id="reportes" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Consolidado Operadora</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Consolidado Empresa</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#administracion" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="clipboard"></i> <span
                                class="align-middle">Administración</span>
                        </a>
                        <ul id="administracion" class="sidebar-dropdown list-unstyled collapse "
                            data-bs-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="{{ url_for('crear_empresa') }}">Empresas</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#campañas" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="message-square"></i> <span
                                class="align-middle">Campañas</span>
                        </a>
                        <ul id="campañas" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="{{ url_for('campañas') }}">Campañas</a></li>
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="{{ url_for('campañas_vista_empresa') }}">Campañas (Vista Empresa)</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Aprobación de Campañas</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#mensajeria" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="send"></i> <span
                                class="align-middle">Mensajería</span>
                        </a>
                        <ul id="mensajeria" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ url_for('mensajeria') }}">Envío de SMS</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#webservices" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="monitor"></i> <span
                                class="align-middle">WebServices</span>
                        </a>
                        <ul id="webservices" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Documentación</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">API</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#configuracion" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="settings"></i> <span
                                class="align-middle">Configuración</span>
                        </a>
                        <ul id="configuracion" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ url_for('realtime_usuarios') }}">Usuarios</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Perfiles</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Áreas</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ url_for('conf_numero_origen') }}">Configuración de números de Origen</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ url_for('conf_num_destino') }}">Configuración de números de Destino</a></li>
                            <li class="sidebar-item">
                                <a data-bs-target="#multi-3-1" data-bs-toggle="collapse" class="sidebar-link collapsed">
                                    Conectores
                                </a>
                                <ul id="multi-3-1" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                    <li class="sidebar-item"><a class="sidebar-link"
                                            href="{{ url_for('crear_operadora') }}">SMPP</a></li>
                                    <li class="sidebar-item"><a class="sidebar-link" href="#">HTTP</a></li>
                                    <li class="sidebar-item"><a class="sidebar-link" href="#">WhatsApp</a></li>
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                </ul>
            </div>
        </nav>
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <!-- <form class="d-none d-sm-inline-block">
                    <div class="input-group input-group-navbar">
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="Search">
                        <button class="btn" type="button">
                            <i class="align-middle" data-feather="search"></i>
                        </button>
                    </div>
                </form> -->

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                data-bs-toggle="dropdown">
                                <img src="{{ url_for('static', filename='img/avatars/avatar.jpg') }}"
                                    class="avatar img-fluid rounded-circle me-1" alt="Chris Wood" /> <span
                                    class="text-dark">Usuario</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="user"></i>
                                    Perfil</a>
                                <!-- <a class="dropdown-item" href="#"><i class="align-middle me-1"
                                        data-feather="pie-chart"></i> Analytics</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Settings & Privacy</a>
                                <a class="dropdown-item" href="#">Help</a>
                                <a class="dropdown-item" href="#">Sign out</a> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            {% block content %}
            {%endblock%}

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Soporte</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Centro de Ayuda</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Privacidad</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Términos de Servicio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 text-end">
                            <p class="mb-0">
                                &copy; 2021 - <a href="index.html" class="text-muted">GateWay RealTime</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>

</html>