{% extends 'base.html' %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Operadoras</h1>
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Registrar Operadora</h5>
                        <h6 class="card-subtitle text-muted">Datos Operadora</h6>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-right">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-right">Nombre Comercial</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-right">Giro</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-right">RUT</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-right">Contacto Técnico</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-right">Dirección</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="inputState">Región</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>-- Select --</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="inputState">Comuna</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>-- Select --</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                        
                            <div class="mb-3 row">
                                <div class="col-sm-10 ml-sm-auto">
                                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Configuración SMPP</h5>
                        <!-- <h6 class="card-subtitle text-muted">Default Bootstrap form layout.</h6> -->
                    </div>
                    <div class="card-body">
                        <form>

                            <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" placeholder="WOM">
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-8">
                                    <label class="form-label" for="inputEmail4">Connection</label>
                                    <input type="email" class="form-control" id="inputEmail4"
                                        placeholder="127.0.0.121">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="inputPassword4">Port</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="3775">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-7">
                                    <label class="form-label" for="inputEmail4">Authorization</label>
                                    <input type="email" class="form-control" id="inputEmail4"
                                        placeholder="user">
                                </div>
                                <div class="mb-3 col-md-5">
                                    <label class="form-label" for="inputPassword4">&nbsp;</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="pass">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="inputState">Bind type</label>
                                <select id="inputState" class="form-control">
                                    <option selected>-- Select --</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">System Type</label>
                                <input type="email" class="form-control" placeholder="System Type">
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="inputEmail4">SMS per second</label>
                                    <input type="email" class="form-control" id="inputEmail4"
                                        placeholder="100">
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="inputEmail4">Enquired Link</label>
                                    <input type="email" class="form-control" id="inputEmail4"
                                        placeholder="120">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="inputPassword4">Repeat</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="60">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="inputEmail4">Bind Timeout</label>
                                    <input type="email" class="form-control" id="inputEmail4"
                                        placeholder="15">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="inputPassword4">Response
                                        Timeout</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="30">
                                </div>
                            </div> -->
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Operadoras Registradas</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre Operadora</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">E-mail Comercial</th>
                                <th scope="col">Fecha de Registro</th>
                                <th scope="col">Contacto Técnico</th>
                                <th scope="col">Conección</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Movistar</td>
                                <td>Rosas #7209, Santiago</td>
                                <td>correo@Movistar.cl</td>
                                <td>12/08/2021</td>
                                <td>técnico@Movistar.cl / 988396150</td>
                                <td>127.0.0.121:8080</td>
                                <td><span class="badge bg-success mb-1 mx-2">ACTIVA</span></td>
                                <td class="table-action">
                                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Entel</td>
                                <td>Ahumada #100, Santiago</td>
                                <td>correo@Entel.cl</td>
                                <td>12/08/2021</td>
                                <td>técnico@Entel.cl / 953687458</td>
                                <td>127.0.0.121:1324</td>
                                <td><span class="badge bg-success mb-1 mx-2">ACTIVA</span></td>
                                <td class="table-action">
                                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                </td>                                        </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>WOM</td>
                                <td>Agustinas #550, Santiago</td>
                                <td>correo@WOM.cl</td>
                                <td>12/08/2021</td>
                                <td>técnico@WOM.cl / 985412052</td>
                                <td>127.0.0.121:7575</td>
                                <td><span class="badge bg-secondary mb-1 mx-2">INACTIVO</span></td>
                                <td class="table-action">
                                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                                </td>                                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</main>
{% endblock %}